# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**

List popular languages for Data Science -

- Python
- R
- Julia
- Scala
- Java
- SQL

###### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. julia
4. Scala
5. Java
6. SQL

###### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. PyTorch
5. SciPy
6. matplotlib

###### table of Data Science tools

| Data Science tools |
| ------------------ |
| Jupyter Notebook / JupyterLab |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Nishant Celestin Tirkey